{% extends 'monApp/base.html' %}
{% block menu %}
{{titremenu}}
{% endblock %}
{% block contenu %}
<table class="table">
<thead>
<th>Id</th>
<th>Nom produit</th>
<th>Prix unitaire</th>
<th>Date fabrication</th>
<th>Catégorie</th>
<th>Statut</th>
</thead>
<tbody>
{% for prdt in prdts %}
<tr>
<td>{{ prdt.refProd }} </td>
<td><a href="{% url 'dtl_prdt' prdt.refProd %}">{{ prdt.intituleProd }}</a></td>
<td>{{ prdt.prixUnitaireProd }} </td>
<td>{{ prdt.date_fabrication }} </td>
<td>{{ prdt.categorie }} </td>
<td>{{ prdt.statut }} </td>
<td><a href="{% url 'prdt-chng' prdt.refProd %}">modifier</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
<a href="{% url 'crt-prdt' %}">Créer un nouveau produit</a>
<p>
J'ai
{% if prdts|length < 5 %}
peu de
{% elif prdts|length < 10 %}
quelques
{% else %}
beaucoup de
{% endif %}
produits préférés.
</p>
{% endblock %}