{% extends 'monApp/base.html' %}
{% block menu %}
{{titremenu}}
{% endblock %}
{% block contenu %}
<table class="table">
<thead>
<th>Id</th>
<th>Nom rayon</th>
</thead>
<tbody>
{% for ray in rays %}
<tr>
<td>{{ ray.idRayon }} </td>
<td><a href="{% url 'dtl_rayons' ray.idRayon %}">{{ ray.nomRayon | upper }}</a></td>
<td><a href="{% url 'rayon-chng' ray.idRayon %}">Modifier</a></td>
<td><a href="{% url 'rayon-del' ray.idRayon %}">Supprimer</a></td>
</tr>
{% endfor %}
</tbody>
</table>
<a href="{% url 'crt-rayon' %}">Créer un nouveau rayon</a>
{% endblock %}