{% extends 'monApp/base.html' %}
{% block menu %}
{{titremenu}}
{% endblock %}
{% block contenu %}
<!-- Barre de recherche -->
<p class="lead mb-3 ml-0">Rechercher un élément...</p>
<form method="GET" action="">
<input class="form-control" type="text" name="search" placeholder="Tapez ici votre recherche"
value="{{ request.GET.search }}">
<button type="submit" class="btn btn-success mt-2">Rechercher</button>
</form>
<table class="table">
    <thead>
        <th>Id</th>
        <th>Nom statut</th>
        <th>Nombre de Produits</th>
    </thead>
    <tbody>
        {% for statut in stats %}
        <tr>
            <td>{{ statut.idStatut }} </td>
            <td><a href="{% url 'dtl_statut' statut.idStatut %}">{{ statut.nomStatut }}</a></td>
            <td>{{ statut.nb_produits }} </td>
            <td><a href="{% url 'statut-chng' statut.idStatut %}">Modifier</a></td>
            <td><a href="{% url 'statut-del' statut.idStatut %}">Supprimer</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'crt-statut' %}">Créer un nouveau statut</a>

{% endblock %}